
*{
    margin: 0px;
    padding: 0px;
}
.links {
    font-family: cursive;
    margin: 0px 30px;
    font-size: 20px;
    color: rgb(237, 175, 187);
}

.additems{
    /* background-color:smoke-gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    margin-top: 15px;
}
.additems input, select, textarea{
    background: none;
    height: 25px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(198, 6, 6);
}
.additems label{
    margin: 10px 20px;
}
.additems form{
    margin: 8px 10px;
    background-color: rgb(255, 255, 255);
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg");
    padding: 20px;
    border-radius: 10px;
    border:  3px solid none;
    box-shadow:  0px 0px 20px 
}
.additems button{
    font-family: cursive;
    font-weight: bold;
    background: linear-gradient(45deg, #ff8a00, #e52e71, #6610f2);
    padding: 12px 24px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: 120px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 150px;
}